apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: jialong-dev
  name: springboot-deployment
spec:
  selector:
    matchLabels:
      app: springboot-deployment
  replicas: 2
  template:
    metadata:
      labels:
        app: springboot-deployment
    spec:
      imagePullSecrets:
      - name: pipeline-docker-registry
      containers:
      - name: springboot-demo
        image: ${CICD_IMAGE}
        ports:
        - containerPort: 8007