apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: jialong-dev
  name: loadbalancer-springboot-deployment
spec:
  selector:
    matchLabels:
      app: loadbalancer-springboot-deployment
  replicas: 2
  template:
    metadata:
      labels:
        app: loadbalancer-springboot-deployment
    spec:
      imagePullSecrets:
      - name: pipeline-docker-registry
      containers:
      - name: loadbalancer-springboot-deployment
        image: ${CICD_IMAGE}:v0.1
        ports:
        - containerPort: 8080

        
---  
apiVersion: v1  
kind: Service  
metadata:  
  name: loadbalancer-springboot-service
  namespace: jialong-dev
  labels:  
    app: loadbalancer-springboot-service
spec:  
  ports:  
    - port: 8080  
      targetPort: 8080
  selector:  
    app: loadbalancer-springboot-deployment
    

---

apiVersion: extensions/v1beta1
kind: Ingress
metadata:  
  name: loadbalancer-springboot-ingress
  namespace: jialong-dev
  annotations: 
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  rules:  
  - http: 
      paths:
      - path: /api/v1/users
        backend:
          serviceName: loadbalancer-springboot-service
          servicePort: 8080